#navbar {
    background-color: #a3b899;
}

.navbar-brand {
  font-family: apple chancery;
}

.nav-link {
  font-family: tahoma;
}

.aboutme {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  justify-content: center;
} 

.text {
  width: 50%;
  margin-right: 10%;
  margin-left: 5%;
  font-family: tahoma;
}

.image {
  width: 500px;
  margin-left: 10%;
}

.header {
  color: 	#667b68;
  text-align: center;
  font-family: apple chancery;
}

.sub-header {
  text-align: center;
  font-family: apple chancery;
  color: #f8d3c5;
  text-decoration: overline;
}

.question {
  font-size: 150%;
  font-family: tahoma;
  font-weight: bolder;
  padding-left: 10px;
  padding-top: 5px;
}

.q1 {
  background-color: #fceee9;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-left: 10%;
  margin-right: 10%;
}

.q2 {
  margin-left: 10%;
  margin-right: 10%;
}

.q3 {
  background-color: #fceee9;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-left: 10%;
  margin-right: 10%;
}

.q4 {
  margin-left: 10%;
  margin-right: 10%;
}

.q5 {
  background-color: #fceee9;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.QandA {
  font-weight: lighter;
  padding-left: 10px;
  padding-right: 10px;
}

.answer {
  padding-left: 10%;
  padding-right: 10%;
}